<nav class="navbar fixed-top navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Elephant Box</a>

    <button *ngIf="!user" id="signin" class="btn btn-outline-success" [routerLink]="['/signin']">Signin</button>

    <div ngbDropdown *ngIf="user" id="user-menu" class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdown" ngbDropdownToggle>{{user.name}}</button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown">
        <button [routerLink]="['/user']" class="dropdown-item">User info</button>
        <button (click)="signout()" class="dropdown-item">Sign out</button>
      </div>
    </div>
  </div>
</nav>
