<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div *ngIf="form" class="col-md-6">
      <ngb-alert *ngIf="failedMessage" type="danger" (close)="failedMessage = null">{{failedMessage}}</ngb-alert>

      <form [formGroup]="form" (ngSubmit)="submit(form)">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" [formControl]="form.controls['email']">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" [formControl]="form.controls['password']">
        </div>

        <input *ngIf="!isProcessing" type="submit" class="btn btn-outline-success btn-block" [formControl]="form.controls['submit']">

        <button *ngIf="isProcessing" class="btn btn-outline-success btn-block" disabled>
          <fa name="circle-o-notch" [spin]="true"></fa>
        </button>
      </form>

      <p id="oauth">Sign in with OAuth provider.</p>

      <a [href]="googleAuthUrl" class="btn btn-block btn-outline-danger">
        <fa name="google"></fa>&nbsp;
        Sign in with Google
      </a>

      <div class="message">
        <p><small>
          You have no account on this service yet ?
          Sign up from <a [routerLink]="['/signup']">here</a> !
        </small></p>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
