<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div *ngIf="!food" class="loading">
        <fa name="circle-o-notch" [spin]="true" [size]="2"></fa>
      </div>

      <div *ngIf="food">
        <form [formGroup]="form">
          <h5>
            <span *ngIf="food.box.isInvited"><fa name="chain-broken"></fa></span>
            <a [routerLink]="['/boxes', food.box.id]">{{food.box.name}}</a> / {{food.name}}
            <a id="actions" [routerLink]="['/foods', food.id, 'edit']" class="btn btn-outline-primary">Edit food</a>
          </h5>
          <p>{{food.notice}}</p>

          <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" step="0.1" class="form-control" [formControl]="form.controls['amount']">
            <div class="row">
              <div class="col-sm-3">
                <button class="btn btn-block btn-outline-primary" (click)="decrease(10)">--</button>
              </div>
              <div class="col-sm-3">
                <button class="btn btn-block btn-outline-primary" (click)="decrease()">-</button>
              </div>
              <div class="col-sm-3">
                <button class="btn btn-block btn-outline-primary" (click)="increase()">+</button>
              </div>
              <div class="col-sm-3">
                <button class="btn btn-block btn-outline-primary" (click)="increase(10)">++</button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="expirationDate">Expiration date</label>
            <input type="date" class="form-control" [formControl]="form.controls['expirationDate']">
            <div class="row">
              <div class="col-sm-6">
                <button class="btn btn-block btn-outline-primary" (click)="preview()">Previous</button>
              </div>
              <div class="col-sm-6">
                <button class="btn btn-block btn-outline-primary" (click)="next()">Next</button>
              </div>
            </div>
          </div>

          <label>Created</label>
          <p>{{food.createdAt | date: 'yyyy/MM/dd HH:mm'}}</p>

          <label>Last update</label>
          <p>{{food.updatedAt | date: 'yyyy/MM/dd HH:mm'}}</p>

          <div class="row">
            <div class="col-sm-6">
              <button (click)="apply()" class="btn btn-outline-primary btn-block">Update</button>
            </div>
            <div class="col-sm-6">
              <button (click)="remove()" class="btn btn-outline-danger btn-block">Remove</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
