.loading {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

#actions {
  float: right;
}

.btn-group {
  display: flex;
}

.btn {
  flex: 1
}

#update, #remove {
  margin-bottom: 10px;
}
