<div class="container">
  <div class="row">
    <div *ngFor="let box of boxes" class="col-md-6">
      <div class="card">
        <div class="card-header">
          <a [routerLink]="['/boxes', box.id]">{{box.name}}</a>
        </div>
        <div class="card-block">
          <p class="card-text">{{box.notice}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li *ngFor="let food of box.foods" class="list-group-item">
            {{food.name}} ({{food.expirationDate | date: 'yyyy/MM/dd'}})
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
