<div *ngIf="box" class="container">
  <h5>{{box.name}}</h5>
  <div class="row">
    <div *ngFor="let room of box.rooms" class="col-md-4">
      <div class="card">
        <div class="card-header">
          {{room.name}}
        </div>
        <div class="card-block">
          <p class="card-text">{{room.notice}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li *ngFor="let food of room.foods" class="list-group-item">
            <a href="#">{{food.name}}</a>
            &nbsp; ({{food.amount | number: '1.1-1'}} {{food.unit}})
          </li>
        </ul>
        <div class="card-footer text-muted">
          Last update {{room.updatedAt | date: 'yyyy/MM/dd HH:mm'}}
        </div>
      </div>
    </div>
  </div>
</div>
