.amount {
  text-align: right;
}

.card {
  margin-bottom: 10px;
}

.add-food {
  font-size: 300%;
  height: 100px;
}

.loading {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

#actions {
  float: right;
}

.table {
  margin: 0;
}
