<div *ngIf="box" class="container">
  <h5>{{box.name}}</h5>
  <div class="row">
    <div *ngFor="let food of box.foods" class="col-md-4">
      <div class="card">
        <div class="card-header">
          {{food.name}}
        </div>
        <div class="card-block">
          <p class="card-text">{{food.notice}}</p>
          <p>{{food.amount}} {{food.unitLabel}}</p>
        </div>
        <button class="btn btn-block btn-outline-danger" (click)="removeFood(food)">Remove</button>
        <div class="card-footer text-muted">
          Last update {{food.updatedAt | date: 'yyyy/MM/dd HH:mm'}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <button class="add-food btn btn-outline-primary btn-lg btn-block" (click)="createFood(box.id)">+</button>
    </div>
  </div>
</div>
