<div class="container">
  <div *ngIf="!user" class="loading">
    <fa name="circle-o-notch" [spin]="true" [size]="2"></fa>
  </div>

  <div *ngIf="user">
    <div class="row">
      <div class="col-sm-3">
        <div class="avatar">
          <img *ngIf="user.base64avatar" src="{{user.base64avatar}}">
          <img *ngIf="!user.base64avatar" src="/assets/noimage.svg">
        </div>
      </div>
      <div class="col-sm-9">
        <h5>{{user.name}}</h5>
        <p>{{user.email}}</p>
        <p>
          Account created at {{user.createdAt | date}} <br>
          Last updated at {{user.updatedAt}}
        </p>

        <h5>Own boxes</h5>
        <p>
          You have {{ownBoxes.length}} boxes.
        </p>
        <ul>
          <li *ngFor="let box of ownBoxes">
            {{box.name}} (contains {{box.foods.length}} foods)
          </li>
        </ul>

        <h5>Invited boxes</h5>
        <p>
          You are shared {{invitedBoxes.length}} boxes.
        </p>
        <ul>
          <li *ngFor="let box of invitedBoxes">
            {{box.name}} (contains {{box.foods.length}} foods)
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
