<div class="container">
  <div *ngIf="!user" class="loading">
    <fa name="circle-o-notch" [spin]="true" [size]="2"></fa>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div *ngIf="user" class="card">
        <div class="card-header">
          Your account
        </div>
        <table class="table">
          <tr>
            <td>Name</td>
            <td>{{user.name}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{user.email}}</td>
          </tr>
          <tr>
            <td>Registered</td>
            <td>{{user.createdAt | date: 'yyyy/MM/dd HH:mm'}}</td>
          </tr>
        </table>
        <a [routerLink]="['/user', 'edit']" class="btn btn-outline-primary btn-block">Update</a>
        <div class="card-footer text-muted">
          Last update {{user.updatedAt | date: 'yyyy/MM/dd HH:mm'}}
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          Service usage
        </div>
        <div class="card-block">
          You are using {{ownBoxes.length}} boxes.
          <button class="btn btn-sm btn-outline-success" (click)="createBox()">Add box</button>
        </div>
        <table class="table">
          <tr *ngFor="let box of ownBoxes">
            <td>{{box.name}}</td>
            <td>{{box.foods.length}} foods</td>
            <td>
              <button class="btn btn-outline-info btn-sm">Edit</button>
            </td>
            <td>
              <button class="btn btn-outline-success btn-sm" (click)="invite(box)">Invite</button>
            </td>
            <td>
              <button class="btn btn-outline-danger btn-sm" (click)="removeBox(box)" [disabled]="box.foods.length > 0">Remove</button>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          Invited boxes usage
        </div>
        <div class="card-block">
          You are using {{invitedBoxes.length}} invited boxes.
        </div>
        <table class="table">
          <tr *ngFor="let box of invitedBoxes">
            <td>{{box.name}}</td>
            <td>{{box.foods.length}} foods</td>
            <td>{{box.user.email}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
