<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div *ngIf="box" class="col-md-6">
      <h5>
        <a [routerLink]="['/boxes', box.id]">{{box.name}}</a> / New Food
      </h5>

      <ngb-alert *ngIf="failedMessage" type="danger" (close)="failedMessage = null">{{failedMessage}}</ngb-alert>

      <form [formGroup]="form" (ngSubmit)="submit(form)">
        <div class="form-group">
          <label for="name">Food name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter name" [formControl]="form.controls['name']">
        </div>
        <div class="form-group">
          <label for="notice">Notice</label>
          <textarea class="form-control" id="notice" placeholder="Enter notice" [formControl]="form.controls['notice']"></textarea>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="amount">Amount</label>
              <input type="number" class="form-control" id="amount" placeholder="Enter amount" [formControl]="form.controls['amount']">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="unit">Unit</label>
              <select class="form-control" id="unit" [formControl]="form.controls['unit']">
                <option *ngFor="let unit of units" [value]="unit.id">{{unit.label}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="expirationDate">Expiration date</label>
          <input type="date" class="form-control" id="expirationDate" placeholder="Enter expiration date" [formControl]="form.controls['expirationDate']">
        </div>

        <p><small>
          You have not created units of foods ? First create your own units <a [routerLink]="['/units', 'new']">here</a>.
        </small></p>

        <input type="submit" class="btn btn-outline-success btn-block" [formControl]="form.controls['submit']">
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
